@tailwind base;
@tailwind components;
@tailwind utilities;

#chat-message-menu {
    --mouse-x: 0px;
    --mouse-y: 0px;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    transform: translateX(min(var(--mouse-x), calc(100vw - (100% + 15px)))) translateY(min(calc(var(--mouse-y) + 15px), calc(100vh - 100%)));
}